<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="reflex.css" type="text/css" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet">
  <title>Revery Music</title>
</head>

<body>
  <section container class="main_page">
    
    <span>
    <H1 class="line-1">REVERY</H1>
    </span>
    <span id="now_playing" class="now_playing hidden">
      <div id="player" style="position: absolute; top: -9999px; left: -9999px;"></div>
      <p class="song_title"></p>
      <a btn icon skip-prev>skip_previous</a>
      <a btn icon play>play_arrow</a>
      <a btn icon skip-next>skip_next</a>
      <div class="main_seekbar">
          <input type="range" min="0" max="100" value="0" class="seekbar" id="sliderRange">
          <p>Value: <span id="demo"></span></p>
      </div>
    </span>
    <a btn class="library" action="#dialog">Music</a>
  </section>
  <span dialog id="dialog" class="full-screen music_library">
    <aside id="app">
      <a btn icon action="#closedialog">arrow_back</a>
      <a btn icon play_mini>play_arrow</a>
      <H4 class="library_header">Library</H4>
      <input v-model="searchQuery" type="search" name="search" class="wide search" placeholder="Search">
      <div class="playlist_section search_results">
          <p class="slide-in-top">Search results</p>
          <span v-for="resultArray in resultQuery">
            <span card v-for="item in resultArray" :key="item" v-bind:class="item.color" class="playlist search_result slide-in-top">
              <p>{{ item.title }}</p>
              <a v-bind:onclick="'player.loadPlaylist({list:\''+item.list+'\'})'" btn icon>play_arrow</a>
            </span>
          </span>
      </div>
      <div class="playlist_section slide-in-top">
        
        <p>Curated playlists</p>
          <span card v-for="item in playlists.curated" :key="item" v-bind:class="item.color" class="playlist">
            <p>{{ item.title }}</p>
            <a v-bind:onclick="'player.loadPlaylist({list:\''+item.list+'\'})'" btn icon>play_arrow</a>
          </span>

        <p>Recommended playlists</p>
          <span card v-for="item in playlists.recommended" :key="item" v-bind:class="item.color" class="playlist">
            <p>{{ item.title }}</p>
            <a v-bind:onclick="'player.loadPlaylist({list:\''+item.list+'\'})'" btn icon>play_arrow</a>
          </span>
       
      </div>
    </aside>
  </span>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="framework.js"></script>
<script type="text/javascript" src="logic.js"></script>


</body>
</html>
