<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="reflex.css" type="text/css" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet">
  <title>Revery Music</title>
</head>

<body>
  <section container class="main_page">

    <a btn class="library" action="#dialog">Music</a>
   
  </section>
  <span dialog id="dialog" class="full-screen music_library open">
    <aside id="app">
      <div id="player" style="position: absolute; top: -9999px; left: -9999px;"></div>
      <a btn icon action="#closedialog">arrow_back</a>
      <a btn icon skip-prev>skip_previous</a>
      <a btn icon play>play_arrow</a>
      <a btn icon skip-next>skip_next</a>
      <H4 class="library_header">Library</H4>
      <input v-model="searchQuery" type="search" name="search" class="wide search" placeholder="Search">
      <div class="playlist_section slide-in-top">
        
        <p>Curated playlists</p>

        <span card class="playlist">
          <p>Music Title 1</p>
          <a onmousedown="player.loadPlaylist({list: 'PLGFMsDB0B5xxoM4NvsnpcCVgyOytis74P'})" btn icon>stream</a>
        </span>
        <span card class="playlist">
          <p>Music Title 2</p>
          <a onmousedown="player.loadPlaylist({list: 'PLGFMsDB0B5xyqR0LgYHa79ZsWDxBSE_Kq'})" btn icon>stream</a>
        </span>

          <span card v-for="item in playlists.curated" :key="item" v-bind:class="item.color" class="playlist">
            <p>{{ item.title }}</p>
            <a v-bind:onmousedown="'player.loadPlaylist({list:\''+item.list+'\'})'" class="activatrix" btn icon>play_arrow</a>
          </span>

        <p>Recommended playlists</p>
          <span card v-for="item in playlists.recommended" :key="item" v-bind:class="item.color" class="playlist">
            <p>{{ item.title }}</p>
            <a v-bind:onmousedown="'player.loadPlaylist({list:\''+item.list+'\'})'" btn icon>stream</a>
          </span>
       
      </div>
    </aside>
  </span>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script type="text/javascript" src="testinglogic.js"></script>
<script type="text/javascript" src="framework.js"></script>


</body>
</html>
